---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About the author"
	pubDate={new Date('December 02 2024')}
>
	<p>
		I am building NeuroScript to make AI interpretable and composable.
	</p>
	<p>
		This blog documents my journey in rethinking how we build and understand neural networks.
	</p>
</Layout>
